@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  @apply bg-bg text-fg antialiased;
}

a {
  @apply text-link;
}

a:hover {
  @apply opacity-90;
}

hr {
  @apply border-border;
}
